</br>
<table class="table">
    <thead>
    <tr>
        <th>RunID</th>
        <th>Problem</th>
        <th>Status</th>
        <th>Language</th>
        <th>User</th>
        <th>SubmitTime</th>
    </tr>
    </thead>
    <tbody>
    {% for item in status_list %}

        <tr
                {% ifequal item.status 1 %}
                    class="info"
                {% endifequal %}
                {% ifequal item.status 0 %}
                    class="success"
                {% else %}
                    class="danger"
                {% endifequal %}
         >
            <td>{{ item.id }}</td>
            <td>{{ item.pid.title }}</td>
            {% ifequal item.pid.isCCF True %}
                 <td>{{ item.score }}</td>
	    {% else %}
		    {% ifequal item.get_status_display "Compilation Error"%}
			<td><a href="/show_source?solution_id={{ item.id }}" target="_blank">{{ item.get_status_display }}</a></td>
		    {% else %}
			<td>{{ item.get_status_display }}</td>
		    {% endifequal %}
            {% endifequal %}
            {% ifequal item.uid.id user.id %}
                <td><a href="/show_source?solution_id={{ item.id }}" target="_blank">{{ item.get_lang_display }}</a></td>
            {% else %}
		    {% ifequal user.is_staff True %}
			<td><a href="/show_source?solution_id={{ item.id }}" target="_blank">{{ item.get_lang_display }}</a></td>
		    {% else %}
			<td>{{ item.get_lang_display }}</td>
		    {% endifequal %}
            {% endifequal %}
            <td>{{ item.uid.username }}</td>
            <td>{{ item.time | date:"Y-m-d H:i:s" }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<center>
<ul class="pagination">
    <script type="text/javascript">
        //$(document).ready(function () {
        function request_contest_status(pg){
            $.ajax({
                    type: 'get',
                    url: "/contest/" + {{ contest_id }} + "/status/?pg=" + pg,
                    success: function (responseData) {
                        $('#panel-status').html(responseData);
                    }
            })
        }
    </script>
    {% for id in page %}
        <li><a class="{% if pg == id %}active{% else %}disabled{% endif %}"
               href="javascript:request_contest_status({{ id }});">
            {{ id }}
            </a>
        </li>
    {% endfor %}
</ul>
</center>
