
<div class="text-center">
    <h1>{{ problem.title }}</h1>
    <ul class="list-inline">
        <li>Time Limit: {{ problem.limit_time }}s</li>&nbsp;&nbsp;
        <li>Memory Limit: {{ problem.limit_memory }} K</li>
    </ul>
</div>

<h3>Description</h3>
<pre>{{ problem.content }}</pre>

<h3>Sample Input</h3>
<pre>{{ problem.sample_input }}</pre>

<h3>Sample Output</h3>
<pre>{{ problem.sample_output }}</pre>

<h3>Note</h3>
<pre>{{ problem.note }}</pre>

<h3>Source</h3>
<pre>{{ problem.source }}</pre>