
<!--
{% block script %}
$(document).ready(function(){
    $("#selsrc").click(function(){
        $("#srcarea").prop("disabled",false);
        $("#fuparea").prop("disabled",true);
    });
    $("#selfup").click(function(){
        $("#srcarea").prop("disabled",true);
        $("#fuparea").prop("disabled",false);
    });
});

{% endblock %}

-->
</br>

<form class="form-horizontal container-fluid" action="submit/" method="POST" enctype="multipart/form-data" id="submit_form">
    <div class="form-group">
        <label>Language:</label>
        <select name="lang" class="form-control">
          <option value="1">C</option>
          <option value="2">C++</option>
          <option value="3">Java</option>
          <option value="4">Python</option>
          <option value="5">Pascal</option>
        </select>
    </div>
    <div class="form-group">
        <label>Problem:</label>
        <select name="pid" class="form-control">
            {% for cnt,chr,problem in problems %}
                <option value="{{ problem.id }}">{{ chr }}: {{ problem.title }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label><input type="radio" id="selsrc" name="inputype" checked="checked">  Source Code:</label>
        <textarea id="srcarea" name="code" class="form-control" maxlength="2000" rows="24"></textarea>
    </div>
    <button id="submit_button" class="btn btn-primary">Submit</button>
</form>
