</br>
<div style="width:80%;margin:0 auto;">
    <table class="table table-striped">
        <col width="20%"/>
        <col width="40%"/>
        <col width="40%"/>
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>ID</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        {% for cnt,chr,problem in problems %}
            <tr>
                <th>YES</th>
                <th>Problem {{ chr }}</th>
                <th><a href="#" onclick="get_problem({{ problem.id }})">{{ problem.title }}</a></th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript">
    function get_problem(problem_id) {
        $.ajax({
            type: 'get',
            url: "/contest/" + {{ contest.id }} +"/get_problem?pid="+problem_id,
            success: function (responseData) {
                $('#panel-problem').html(responseData);
                $('#problem_detail').tab('show');
            }
        })
    }
</script>
</script>