</br>
<table class="table">
    <thead>
    <tr>
        <th>RunID</th>
        <th>Problem</th>
        <th>Status</th>
        <th>Language</th>
        <th>User</th>
        <th>SubmitTime</th>
    </tr>
    </thead>
    <tbody>
    {% for item in status_list %}

        <tr
                {% ifequal item.status 1 %}
                    class="info"
                {% endifequal %}
                {% ifequal item.status 0 %}
                    class="success"
                {% else %}
                    class="danger"
                {% endifequal %}
         >
            <td>{{ item.id }}</td>
            <td>{{ item.pid.title }}</td>
            {% ifequal item.pid.isCCF True %}
                 <td>{{ item.score }}</td>
                {% else %}
                <td>{{ item.get_status_display }}</td>
            {% endifequal %}
            {% ifequal item.uid.id user.id %}
                <td><a href="/">{{ item.get_lang_display }}</a></td>
            {% else %}
                <td>{{ item.get_lang_display }}</td>
            {% endifequal %}
            <td>{{ item.uid.username }}</td>
            <td>{{ item.time | date:"Y-m-d H:i:s" }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>