{% extends "vj/base.html" %}

{% block title %}About us{% endblock %}

{% block navbar %}{% include "vj/include/navbar-about.html" %}{% endblock %}

{% block header %}
<center>
    <h1><strong>About the SDUVJ System</strong></h1>
</center>
{% endblock %}

{% block content %}
<center>
    <h4>The SDUVJ platform is centered around an virtual judge system, which serves for the automatic submition of user-submitted programs.</h4>
    <h4>We are aiming at giving you a flexible testing system, supporting dynamic interaction with submitted programs.</h4>
    <h4>Wish you could improve your programing here.</h4>
    <img src="/static/vj/img/acm.png" width="300px">
    <br><br>
    <h2><strong>About Our Team</strong></h2>
    <h4>李忠利&nbsp;王禹秋&nbsp;李绩成&nbsp;程轩昂&nbsp;沈松青</h4>
    <h4>Wish our services are satisfying.</h4>
    <h5>If you have any questions, please contact us : = = 找中立去</h5>
    <br>
</center>
{% endblock %}