{% extends "vj/base.html" %}

{% block header %}
<span class="h1">{% block title %}{% endblock %}</span>
<form class="form-inline pull-right">
    <!--input class="form-control" type="text" placeholder="Search" name="search"-->
    <button class="btn btn-default" type="submit" style="display:none"></button>
    {% block otherbutton %}{% endblock %}
</form>
{% endblock %}

{% block content %}
<table class="table">
    {% block list %}{% endblock %}
</table>
<center>
    {% block page %}{% endblock %}
</center>
{% endblock %}