{% extends "base.html" %}

{% block title %}{{ problem.title }}{% endblock %}

{% block navbar %}{% include "include/navbar-problem.html" %}{% endblock %}

{% block header %}
    <div class="text-center">
        <h1 class="text-success">{{ problem.title }}</h1>
        <ul class="list-inline">
            <li>Time Limit: {{ problem.limit_time }}s</li>
            <li>Memory Limit: {{problem.limit_memory|filesizeformat}}</li>
        </ul>
    </div>

    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <meta charset="UTF-8">
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="/static/js/csrf.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script type="text/javascript" src="/static/syntaxhighlighter/js/shCore.js"></script>
    <script type="text/javascript" src="/static/syntaxhighlighter/css/shBrushCpp.js"></script>
    <script type="text/javascript" src="/static/syntaxhighlighter/css/shBrushJava.js"></script>
    <link href="/static/syntaxhighlighter/css/shCore.css" rel="stylesheet" type="text/css"/>
    <link href="/static/syntaxhighlighter/css/shThemeDefault.css" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block content %}
<div class="panel panel-default">
    {% include "problem/include/subnav.html" %}
</div>
{% block detail %}
{% endblock %}
{% endblock %}
