{% extends "problem/problem_base.html" %}

{% block detail %}
    <h3>Description</h3>
    <pre>{{ problem.content }}</pre>

    <h3>Input</h3>
    <pre>{{ problem.input }}</pre>

    <h3>Output</h3>
    <pre>{{ problem.output }}</pre>

    {% if problem.samples %}
        {% for s in problem.samples %}
            <h3>Sample Input {{ forloop.counter }}</h3>
            <pre>{{ s.input }}</pre>

            <h3>Sample Output {{ forloop.counter }}</h3>
            <pre>{{ s.output }}</pre>
        {% endfor %}
    {% endif %}

    <h3>Note</h3>
    <pre>{{ problem.note }}</pre>

    <h3>Source</h3>
    <pre>{{ problem.source }}</pre>

{% endblock %}