{% extends "problem/problem_base.html" %}

{% block detail %}
    <style type="text/css">
	pre{
		word-break: keep-all;
		word-wrap: break-word;
		white-space: pre-wrap;
	} 
    </style>
    <h3 class="text-info">Description</h3>
    {% autoescape off %}
    <pre>{{ problem.content }}</pre> 


    <h3 class="text-info">Input</h3>
    <pre>{{ problem.input }}</pre>

    <h3 class="text-info">Output</h3>
    <pre>{{ problem.output }}</pre>
    {% endautoescape %}

    {% if problem.samples %}
        {% for s in problem.samples %}
            <h3 class="text-info">Sample Input {{ forloop.counter }}</h3>
            <pre>{{ s.input }}</pre>

            <h3 class="text-info">Sample Output {{ forloop.counter }}</h3>
            <pre>{{ s.output }}</pre>
        {% endfor %}
    {% endif %}

    <h3 class="text-info" >Note</h3>
    {% autoescape off %}
    <pre>{{ problem.note }}</pre>
    {% endautoescape %}

    <h3 class="text-info">Source</h3>
    <pre>{{ problem.source }}</pre>

{% endblock %}
