{% extends "problem/problem_base.html" %}

{% block detail %}

<form class="form-horizontal container-fluid">
    <div class="form-group">
        <label>Language:</label>
        <select class="form-control">
          <option>C</option>
          <option>C++</option>
          <option>Java</option>
          <option>Python</option>
          <option>Pascal</option>
        </select>
    </div>
    <div class="form-group">
        <label><input type="radio">  Source Code:</label>
        <textarea class="form-control" rows="24"></textarea>
    </div>
    <div class="form-group">
        <label><input type="radio">  File Upload:</label>
        <input type="file">
    </div>
    <center><button class="btn btn-primary">Submit</button></center>
</form>

{% endblock %}