{% extends "base.html" %}

{% block title %}About us{% endblock %}

{% block navbar %}{% include "include/navbar-about.html" %}{% endblock %}

{% block header %}
<center>
    <h1><strong>About the SDUOJ System</strong></h1>
</center>
{% endblock %}

{% block content %}
<center>
    <h4>The SDUOJ platform is centered around an online judge system, which serves for the automatic assessment of user-submitted programs.</h4>
    <h4>We are aiming at giving you a flexible testing system, supporting dynamic interaction with submitted programs.</h4>
    <h4>Wish you could improve your programing here.</h4>
    <img src="../static/img/acm.png" width="300px">
    <br><br>
    <h2><strong>About Our Team</strong></h2>
    <h4>KitchenAir aims at developing a website with comprehensive utility,  generous interface and friendly interaction.</h4>
    <h4>Wish our services are satisfying.</h4>
    <h5>If you have any questions, please contact us : yanhaoran@sdu.edu.cn</h5>
    <br>
</center>
{% endblock %}