<html>
    <head>
        <meta charset="utf-8" />
        <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <script>{% block script %}{% endblock %}</script>
        <script src="/static/js/csrf.js"></script>
        <script src="/static/js/jquery.form.js"></script>
        <title>{% block title %}{% endblock %}</title>

    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header"><a class="navbar-brand" href="/"><span><img src="/static/img/logo.png" width="250px"></span></a></div>
                <ul class="nav navbar-nav">
                {% block navbar %}{% endblock %}
                </ul>
                {% if user %}
                <p class="navbar-collapse navbar-text  navbar-right">Welcome,
                    <span class="navbar-link bg-info">{{ user.name }} </span>
                    <a href="/logout" class="navbar-link bg-danger">Exit</a>
                </p>
                {% else %}
                <div class="navbar-collapse navbar-right">
                    <a href="/login"><button class="btn btn-success navbar-btn">Sign in</button></a>
                    <a href="/register"><button class="btn btn-default navbar-btn">Register</button></a>
                </div>
                {% endif %}
            </div>
        </nav>
        <div class="container">
            <div class="page-header">
            {% block header %}{% endblock %}
            </div>
            {% if err %}
            <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
              <strong>{{ err }}</strong>
            </div>
            {% endif %}
        {% block content %}{% endblock %}
        </div>
        <footer>
        <center>{% block footer %}SDU{% endblock %}</center>
        </footer>
    </body>
</html>
