<html>
    <head>
        <meta charset="utf-8" />
        <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <title>{% block title %}{% endblock %}</title>

    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header"><a class="navbar-brand" href="/">Online Judge</a></div>
                <ul class="nav navbar-nav">
                {% block navbar %}{% endblock %}
                </ul>
                <div class="navbar-collapse navbar-right">
                    <button class="btn btn-primary navbar-btn">Login</button>
                    <button class="btn btn-default navbar-btn">Register</button>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="page-header">
            {% block header %}{% endblock %}
            </div>
        {% block content %}{% endblock %}
        </div>
        <footer>
        {% block footer %}
            <p>SDU</p>
        {% endblock %}
        </footer>
    </body>
</html>