{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block navbar %}{% include "include/navbar.html" %}{% endblock %}

{% block header %}
<h1>Login</h1>
{% endblock %}

{% block content %}

{% if err %}
<div class="row">
    <div class=" col-md-6 col-md-offset-3">
        <p class="text-warning">Wrong Username or Password!</p>
    </div>
</div>
{% endif %}

<form class="form-horizontal container-fluid" action="" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class=" col-md-6 col-md-offset-3">
            <div class="form-group">
                <label>User Name:</label>
                <input type="text" class="form-control" name="name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-6 col-md-offset-3">
            <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" name="pw">
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-6 col-md-offset-3">
            <div class="form-group">
                <label><input type="checkbox" name="remember">  Remember me</label>
            </div>
        </div>
    </div>
    <center><button type="submit" class="btn btn-primary">Login</button></center>
</form>

{% endblock %}