{% extends "base_list.html" %}

{% block title %}Rank{% endblock %}

{% block navbar %}{% include "include/navbar-rank.html" %}{% endblock %}

{% block list %}
    <tr>
        <th><center>Rank</center></th>
        <th><center>Account</center></th>
	<th><center>Name</center></th>
        <th><center>Accept</center></th>
        <th><center>Submit</center></th>
        <th><center>Rate</center></th>
    </tr>
    {% for item in list %}
        <tr>
            <th><center> {{forloop.counter}} </center></th>
            <th><center> {{item.id}} </center></th>
            <th><center> {{item.nickname}} </center></th>
            <th><center> {{item.problem_ac}} </center></th>
	    <th><center> <a href="/status/?search={{ item.id }}">{{item.problem_try}} </a></center></th>
            <th><center> {{item.problem_ac}}/{{item.problem_try}} </center></th>
        </tr>
    {% endfor %}
{% endblock %}
{% block page %}
    <ul class="pagination">
        {% for id in page %}
        <li><a class="{% if pg == id %}active{% else %}disabled{% endif %}" href="/rank?pg={{ id }}">{{ id }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
