<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="/static/js/csrf.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script type="text/javascript" src="/static/syntaxhighlighter/js/shCore.js"></script>
    <script type="text/javascript" src="/static/syntaxhighlighter/css/shBrushCpp.js"></script>
    <script type="text/javascript" src="/static/syntaxhighlighter/css/shBrushJava.js"></script>
    <link href="/static/syntaxhighlighter/css/shCore.css" rel="stylesheet" type="text/css"/>
    <link href="/static/syntaxhighlighter/css/shThemeDefault.css" rel="stylesheet" type="text/css"/>
    <title>Source Code</title>
</head>
<body>
<div class="container">
      <center>
          <div class="page-header">
            <h1>Source code</h1>
            <p>Problem:<a href="/problem/{{ submit.pid.id }}">{{ submit.pid.title }}</a>&nbsp;&nbsp;&nbsp;User:{{ submit.uid }}</p>
            <p>Memory:{{ submit.run_memory }}B&nbsp;&nbsp;&nbsp;Time:{{ submit.run_time }}MS</p>
            <p>Language:{{ submit.get_lang_display }}&nbsp;&nbsp;&nbsp;Result:{{ submit.get_status_display }}</p>
        </div>
      </center>
      <pre class="brush:{{ lang }}">{{ code }}</pre>
    </div>

<script type="text/javascript">
    SyntaxHighlighter.all()
</script>
</body>
</html>