{% extends "status/status_list.html" %}

{% block title %}Status{% endblock %}

{% block navbar %}{% include "include/navbar-status.html" %}{% endblock %}

{% block list %}
    <tr>
        <th><center>RunID</center></th>
        <th><center>Problem</center></th>
        <th><center>Status/Score</center></th>
        <th><center>Language</center></th>
        <th><center>Time</center></th>
        <th><center>Memory</center></th>
        <th><center>User</center></th>
        <th><center>SubmitTime</center></th>
    </tr>
    {% for item in list %}
        <tr
                {% ifequal item.status 1 %}
                    class="info"
                {% endifequal %}
                {% ifequal item.status 0 %}
                    class="success"
                {% else %}
                    class="danger"
                {% endifequal %}
         >
	    <td><center>{{ item.id }}</a></center></td>
            <td><center><a href="/problem/{{ item.pid.id }}">{{ item.pid.title }}</a></center></td>
            {% ifequal item.pid.isCCF True %}
                 <td><center>{{ item.score }}</center></td>
	    {% else %}
		{% ifequal item.get_status_display "Compilation Error" %}
		    {% ifequal item.uid.id user.id %}
			    <td><center><a href="/show_source?solution_id={{ item.id }}" target="_blank">{{ item.get_status_display }}</a></center></td>
		    {% else %}
			    <td><center>{{ item.get_status_display }}</center></td>
		    {% endifequal %}
                {% else %}
		    <td><center>{{ item.get_status_display }}</center></td>
                {% endifequal %}
            {% endifequal %}
	    {% ifequal item.uid.id user.id %}
		    <td><center><a href="/show_source?solution_id={{ item.id }}" target="_blank">{{ item.get_lang_display }}</a></center></td>
	    {% else %}
		    {% ifequal user.is_staff True%}
			    <td><center><a href="/show_source?solution_id={{ item.id }}" target="_blank">{{ item.get_lang_display }}</a></center></td>
		    {% else %}
			    <td><center>{{ item.get_lang_display }}</center></td>
		    {% endifequal %}
	    {% endifequal %}
            <td><center>{{ item.run_time }}ms</center></td>
            <td><center>{{ item.run_memory }}KB</center></td>
            <td><center>{{ item.uid.username }}</center></td>
            <td><center>{{ item.time | date:"Y-m-d H:i:s" }}</center></td>
        </tr>
    {% endfor %}
{% endblock %}
{% block page %}
    <ul class="pagination">
        {% for id in page %}
        <li><a class="{% if pg == id %}active{% else %}disabled{% endif %}" href="">{{ id }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
